{% extends "layout.html" %}
{% block title %}
Edit Product
{% endblock %}
{% block content %}
        <h1>Edit Product Record</h1>
        {% for row in rows %}
        <form action="{{ url_for('editrec') }}" method="POST">
            <h3 style="color:blue">Product ID: {{ row['rowid']}}</h3>
            <input type="hidden" name="rowid" value="{{ row['rowid'] }}">
            Name<br>
            <input type="text" name="name" value="{{ row['name'] }}"/><br>

            Price<br>
            <input type="text" name="price" value="{{row['price']}}"/><br>

            Quantity<br>
            <input type="text" name="quantity" value="{{ row['quantity'] }}"/><br>
            Sku_no<br>
            <input type="text" name="sku_no" value="{{ row['sku_no'] }}"/><br>

            <input type="submit" value="Submit" /><br>
        </form>
        {% endfor %}
{% endblock %}