{% extends "layout.html" %}
{% block title %}
List All Products
{% endblock %}
{% block content %}
        <table border="1px">
            <thead>
                <td><strong>product ID</strong></td>
                <td><strong>name</strong></td>
                <td><strong>price</strong></td>
                <td><strong>quantity</strong></td>
                <td><strong>sku_no</strong></td>
                
                
            </thead>

            {% for row in rows %}
            <tr>
                <td>{{ row["rowid"] }}</td>
                <td>{{ row["name"] }}</td>
                <td> {{ row["price"]}}</td>
                <td>{{ row["quantity"] }}</td>
                <td><form action="{{url_for('edit')}}" method="POST"><input type="hidden" name="id" value="{{ row['rowid'] }}"><input type="submit" value="Edit"></form> </td>
                <td><form onsubmit="return confirm('Are you sure you want to DELETE this Product from the Database?');" action="{{url_for('delete')}}" method="POST"><input type="hidden" name="id" value="{{ row['rowid'] }}"><input type="submit" value="Delete"></form> </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}